.location {
  color: #f6f6f6;
  font-family: Rockwell;
}

.location_image {
  max-height: 70px;
}

/* .location_container {


} */

#modal_img {
  max-width: 600px;
  max-height: 600px;
}
/*
.modal_container {} */

/*#location_container {
  /*background-color: #5C8E78;
/*}

/*#f6f6f6
/*#5C8E78
/*#e51837
